<footer class="ftr">
  <div class="container ftr-container">
    <svg class="ftr-svg" width="95" height="55">
      <use href="./img/svg/icon.svg#Logo"></use>
    </svg>
    <nav>
      <ul class="ftr-list">
        <li class="ftr-list-element"><a href="" class="ftr-list-link">Why Alivio</a></li>
        <li class="ftr-list-element"><a href="" class="ftr-list-link">Solutions</a></li>
        <li class="ftr-list-element"><a href="" class="ftr-list-link">Community</a></li>
        <li class="ftr-list-element"><a href="" class="ftr-list-link">Pricing</a></li>
      </ul>
    </nav>
  </div>
</footer>
