<header id="head" class="head">
    <div class="container">
        <a href="" class="head-logo">About<span>Me.</span></a>
        <ul class="head__list">
            <li class="head__list-item"><a href="#hero">Home</a></li>
            <li class="head__list-item"><a href="#about">About</a></li>
            <li class="head__list-item"><a href="#servise">Service</a></li>
            <li class="head__list-item"><a href="#portfolio">Portfolio</a></li>
            <li class="head__list-item"><a href="#work">Resume</a></li>
            <li class="head__list-item"><a href="#ftr">Blog</a></li>
            <li class="head__list-item"><a href="#ftr">ContAct</a></li>
        </ul>
    </div>
</header>