<header class="head">
  <div class="container head-conteiner">
    <a href="index.html" class="head_logo">
      <svg class="head-logo-svg" width="79" height="55">
        <use href="./img/svg/icon.svg#Logo"></use>
      </svg>
    </a>
    <div class="head-mobile-open" id="btn-open">
      <svg class="head-svg" width="55" height="55">
        <use href="./img/svg/icon.svg#menu2"></use>
      </svg>
    </div>
    <nav class="head-nav" id="menu-container">
      <div class="mobile-wrapper">
        <div class="head-mobile-close" id="btn-close">
          <svg class="head-svg" width="35" height="35">
            <use href="./img/svg/icon.svg#cross"></use>
          </svg>
        </div>
        <ul class="head-list">
          <li class="head-list_element">
            <a href="/" class="head-list_link">Why Alivio</a>
          </li>
          <li class="head-list_element">
            <a href="/" class="head-list_link">Solutions</a>
          </li>
          <li class="head-list_element">
            <a href="/" class="head-list_link">Community</a>
          </li>
          <li class="head-list_element">
            <a href="/" class="head-list_link">Pricing</a>
          </li>
        </ul>

        <ul class="head-btn">
          <li class="head-btn_item">
            <a href="" class="head-btn_link">Sign in</a>
          </li>
          <li class="head-btn_item">
            <a href="" class="head-btn_link">Start Trial</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
