<section class="product">
  <div class="container product-container">
    <img src="./img/product-img.png" alt="" class="product-img" />
    <div class="product-textcont">
      <h3 class="product-subtitle">Our product</h3>
      <h2 class="product-title">You tell us your stress, We make your diary</h2>
      <p class="product-text">
        Everyone experiences it, and in different ways. Let Alivio guide you, in
        a personalized journal experience, to overcome your stress.
      </p>
      <a href="" class="product-link">Find Your Way</a>
    </div>
  </div>
</section>
