<section id="servise" class="servise">
  <div class="container">
    <h2 class="servise-title">My <span>Service</span></h2>
    <p class="servise-text">
      There are many variations of passages ofLorem Ipsum available, but the
      majority havesuffered alteration in some form, by injected humour,
    </p>
    <ul class="servise__list">
      <li class="servise__list-item">
        <svg class="servise__list-svg" width="40">
          <use href="../img/symbol-defs.svg#Frame"></use>
        </svg>
        <h3 class="servise__list-title">Digital Marketing</h3>
        <p class="servise__list-text">
          There are many variations of passages ofLorem Ipsumavailable, but the
          majority havesuffered alteration in some
        </p>
      </li>
      <li class="servise__list-item">
        <svg class="servise__list-svg" width="40">
          <use href="../img/symbol-defs.svg#Frame-1"></use>
        </svg>
        <h3 class="servise__list-title">Web Devlopment</h3>
        <p class="servise__list-text">
          There are many variations of passages ofLorem Ipsumavailable, but the
          majority havesuffered alteration in some
        </p>
      </li>
      <li class="servise__list-item">
        <svg class="servise__list-svg" width="40">
          <use href="../img/symbol-defs.svg#Frame-2"></use>
        </svg>
        <h3 class="servise__list-title">Creative Graphic Design</h3>
        <p class="servise__list-text">
          There are many variations of passages ofLorem Ipsumavailable, but the
          majority havesuffered alteration in some
        </p>
      </li>
    </ul>
  </div>
</section>
