<section class="video">
    <div class="container video-container">
        <div class="video-textcon">
            <h2 class="video-title">Let's hear about Kayla's success story</h2>
            <p class="video-text">See how well Alivio works in a real customer’s life. </p>
            <a href="" class="video-link">Let’s get started</a>
        </div>

        <video  class="video-img" id="my_video_1" class="video-js vjs-default-skin" 
      controls preload="none" poster='./img/video-img.png'
      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
    <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
    <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' /></video>
    </div>
</section>