<section class="work">
  <div class="container work-wrapper">
    <div class="work-textcont">
      <div>
        <h3 class="work-subtitle">How it works</h3>
        <h2 class="work-title">Understand & Release the stress in 3 steps</h2>
      </div>

      <p class="work-text">
        Alivio offers as many journals it takes, tackling different areas such
        as anxiety, overwhelmedness, sadness, or anger, and a variety of
        personal causes, to help you become aware of your emotions, and guide
        you in how to manage stress.
      </p>
    </div>

    <ul class="work-list" id="list"></ul>
  </div>
</section>
