.ftr {
  padding: 50px 0;
  background: #245852;
}
.container {
}
.ftr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ftr-svg {
  fill: var(--link-content);
}
.ftr-list {
  margin-top: 25px;
}
.ftr-list-element {
  margin-bottom: 25px;
}
.ftr-list-link {
  color: var(--link-content);
  font-family: var(--font-1);
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .ftr-list {
    display: flex;
    gap: 25px;
  }
}

@media screen and (min-width: 930px) {
  .ftr {
    padding: 100px 0;
  }
  .container {
  }
  .ftr-container {
    flex-direction: row;
    justify-content: space-around;
    gap: 72px;
  }
  .ftr-svg {
  }
  .ftr-list {
    margin: unset;
  }
  .ftr-list-element {
    margin: unset;
  }
  .ftr-list-link {
  }
}
