$logo-sub-color: #eab308;

$logo-color: #f3f4f6;

$color-text: #6b7280;

$bg-1: #020617;

$bg-2: #111827;

$btn-color: #000;

body {
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  max-width: 1092px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  scroll-behavior: smooth;
}
@import 'reset';

@import 'head';

@import 'hero';

@import 'about';

@import 'portfoli';

@import 'ftr';

@import 'work';

@import 'servise';

@import 'adaptive';
