.product {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.container {
}
.product-img {
  margin-bottom: 25px;
  flex-shrink: 0;
}
.product-textcont {
}
.product-subtitle {
  color: var(--curent-color-text);
  font-family: var(--font-1);
  font-size: 20px;
  font-weight: 600;
  line-height: 157%;
  margin-bottom: 25px;
}
.product-title {
  color: var(--title-color);
  font-family: var(--font-2);
  font-size: 35px;
  font-weight: 700;
  line-height: 157%;
  margin-bottom: 25px;
}
.product-text {
  color: var(--curent-color-text);
  font-family: var(--font-1);
  font-size: 15px;
  font-weight: 400;
  line-height: 157%;
  margin-bottom: 25px;
}
.product-link {
  color: var(--link-content);
  font-family: var(--font-1);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  display: inline-block;
  padding: var(--padding-btn);
  border-radius: 4px;
  border: 1px solid var(--title-color);
  background: var(--title-color);
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 930px) {
  .product {
    padding-bottom: 240px;
    padding-top: 120px;
  }
  .container {
  }
  .product-container {
    display: flex;
    flex-direction: row;
    gap: 85px;
  }
  .product-img {
  }
  .product-textcont {
    max-width: 573px;
    text-align: left;
  }
  .product-subtitle {
  }
  .product-title {
  }
  .product-text {
  }
  .product-link {
    font-size: 20px;
  }
}
